<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kokabi.p.azmonbaz"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Help.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CourseQuestionsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.CourseAnswersActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>